*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
}
.content{
    position: relative;
    top: 5em;
}
nav{
    display: flex;
    justify-content: space-between;
    position:sticky!important;
    top: 50px;
    flex-wrap: wrap;
    width: 100%;
    background-color: #417a5f;
    
}



.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.links ul li{
    list-style: none;
}



.links ul li a,.logo,.fa-sliders {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    margin: 10px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.8s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
    font-size: 1.5em;
    font-weight: 600;
}

.links ul li a:hover,.logo:hover,.fa-sliders:hover {
    background-position: right center;
    color: #fff;
}

.links ul li a{
    font-size: 1.2em;
    padding: 8px 15px;
}

.logoRP{
    width: 2em;
    cursor: pointer;
}

.logo{
    display: flex;
    padding: 7px 20px;
}


.fa-sliders{
    position: absolute;
    right: 0;
    top: 3px;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    display: none!important;

}


.content-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portfolio,.info{
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 70px;
    color:#006435;
    background-color: #f4d03fd8;
    border-radius: 10px;
    padding: 5px;
    font-weight: 700;

}

.my_img{
    float: left;
    border-radius: 5em;
    width:300px;
}

.img_about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about{
    background-color:#16a08425;
    margin: 0 1.5em 0 1.5em;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.info,.submit{
    color: #006435;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 35px;
    border-radius: 2em;
    letter-spacing: 1px;
}

.about p {
    text-align: center;
    color:#000000;
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 1.5em 0 1.5em;
}

hr{
    margin: 20px 0em;
    width: 100%;
    border: 2px solid #16A085;
}

.content-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.skills{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 1em;
    border-radius: 1em;
}

.front-dev,.technician{
    background-color:#16a08425;
    margin: .5em;
    padding: .3em;
    text-align: center;
    border: 2px solid #16A085;
    border-radius: 10px;

}

.info-dev,.info-technician{
    font-size: 2em;
    color: #006435;
    letter-spacing: 1px;
}

.content-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .5em;
    width: 100%;
}

.my-projects ul{
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.my-projects ul li{
    list-style: none;
    width: 100%;
    margin-top: .5em;
}

.my-projects ul li a{
    width: 100%;
    cursor: pointer;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    transition: 0.8s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    border-radius: .5em;
    display: block;
    font-size: 1em;
    font-weight: 600;

}
.my-projects ul li a:hover{
    background-position: right center;
    color: #fff;
}

.content-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-contact input,textarea,button{
    width: 100%;
    margin: 1em 0 0 0;
    padding: .6em;
    border-radius: 1em;
    box-shadow: none;
    border: none;
    background-color: #a1ffd3;
    color: #000000;
    font-size: 1em;
    
}

.content-contact>button{
    cursor: pointer;
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    transition: 0.8s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    border-radius: .5em;
    
}
.content-contact>button:hover{
    background-position: right center;
    color: #fff;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em 0;
    margin-bottom: 1em;
}


.sosial-networks a{
    text-decoration: none;
    color: #16A085;
    font-size: 1.2em;
    padding: 6px;
}

.sosial-networks a:hover{
    color: #0e5e4e;
    text-decoration-color: #000000;
}

.sosial-networks a i{
    font-size: 1.2em;
    margin-right: 3px;
}

.copyright{
    margin-top: 1em;
    text-align: center;
}